* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
     font-family: 'Ubuntu', sans-serif;
    
}
html{
    scroll-behavior: smooth;
}
:root{
    --main-color:#7F00FF
}

body {
    font-family: 'Ubuntu', sans-serif;
}

.logo {
    font-size: 20px;
    text-align: center;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.links {
    display: flex;
    align-items: center;
    gap: 50px;
}

.buttons {
    display: flex;
    gap: 30px;
    align-items: center;
}

.right::before {
    content: "";
    position: absolute;
    width: 420px;
    height: 420px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #7c5cff33;
    border-radius: 50%;
    filter: blur(80px);
    z-index: -1;
}
.right::before {
    width: 350px;
    height: 350px;
    filter: blur(40px);
}

.links a {
    list-style: none;
    color: black;
    text-decoration: none;
    font-size: 18px;
}
.links a:hover {
    color: var(--main-color);
    text-decoration: underline;
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}

.buttons .cv {
    background: none;
    border: none;
    background: #000;
    color: #ffff;
    font-size: 18px;
    padding: 16px 30px;
    border-radius: 12px;
    text-align: center;
   
}
button{
    cursor: pointer;
}

.buttons .mode {
    background: none;
    border: none;
    color: black;
    border: 1px solid rgb(230, 230, 230);
    padding: 16px 30px;
    font-size: 18px;
    text-align: center;
    border-radius: 12px;
}
.vs{
    background: linear-gradient(to left,rgb(64, 137, 222),var(--main-color));
    -webkit-background-clip: text;
    
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    display: inline-block;
    font-size: 2rem;

}
.hero{
    padding: 20px 80px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.left h2{
    font-size: 4rem;
    font-weight: 800;
}

.vishal{
   width: min(100%,340px);
   height: auto;
    object-fit: cover;
    animation: float 4s ease-in-out infinite;

}
.hamburger{
    display: none;
    
}
.right{
    position: relative;
}


.navbar{
    padding: 12px 8%;
}
.hero{
    padding-top: 70px;
}
button:hover{
    transform: translateY(-3px);
    transition: ease 0.4s;
}
@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-12px);
    }
    100%{
        transform: translateY(0px);
    }
}
.header{
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: rgba(255, 255, 255, 0.896);
    backdrop-filter: blur(25px);
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.08);
}
.outline2{
    text-align: center;
    padding: 10px 20px;
    background-color:#e9acac1b;
}
.about{
    padding: 20px 8%;
}
.about-p{
    width: 600px;
}
.top-about{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
     gap: 150px;
    
}
.about-cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(245, 241, 241);
    border-radius: 12px;
    padding: 20px 80px;
}
.box2{
    flex:1;
    .box{
    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    gap: 15px;
}
}
.about-footer{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.powers{
    display: flex;
    align-items: center;
    margin-top:15px;
    gap: 10px;
    line-height: 1.2;
}
.bottom-left{
    margin: 30px 0;
    border: 1px solid rgb(231, 222, 222); ;
    padding: 24px 44px;
    border-radius: 12px;

}
.projects{
    padding: 30px 8%;
}
.cards-img{
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
}
#home,
#about,
#projects,
#skills,
#contact {
    scroll-margin-top: 90px;
}
.background-grey{
    background-color:  rgb(245, 241, 241);
}
.progress-bar{
    height: 12px;
    border-radius: 50px;
     background:rgba(211, 190, 190, 0.76);
      backdrop-filter:blur(10px);
       overflow:hidden;
       
       
}
.progress{
    background: blue;
    height: 10px;
    
}
.progress.animate{
    animation: fill 2s 1 forwards;
}
.html{
    width: 95%;
}
.tw{
    width: 90%;
}
.api{
    width: 80%;
}
.react{
    width: 75%;
}

.container-skills{
    display: grid;
    grid-template-columns: repeat(2,15vw);
    gap: 10px;
}
.container{
    width: 100%;
}
@media (max-width:768px) {
   .grid{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   }
   .padding{
    padding: 2% 8%;
   }
   .m4{
    margin: 2% 10%;
   }
   .psize{
    font-size: 16px;
   }
   .heading{
    font-size: 2rem ;
   }
   .flex{
    flex-direction: column;
   }
   .buttons{
    gap: 10px;
   }
   .main-footer{
    padding: 2% 8%;
   }
   .about-cards{
    padding: 2% 8%;
    width: 100%;
   }
   .right::before{
    width:250px;
    height:250px;
}
   .cards-container{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   }
   .grid{
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   }
 
   .button-projects{
    flex-direction: row !important;
   }
   .hero{
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
    gap: 40px;
   }
   .text-left{
    width: 100%;
   }
   .left-btn{
    display: flex;
    flex-direction: column;
    gap: 15px;
   }
   .contact-links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   }
  .top-about{
    flex-direction: column;
  }
  .container{
    width: 100vw;
   }
   .links{
    display: none;
   }
   .projects{
    padding: 4% 8%;
   }
   .about-footer{
    flex-direction: column;
   }
       .container-skills{
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
 }
 .main-padding{
    padding: 4% 8%;
 }
 .cv{
    padding: 4% 4%;
    font-size: 16px;
 }
 .about-me{
    font-size:clamp(2.2rem,5vw,4rem);
}

.rem4{
    font-size:clamp(2rem,5vw,4rem);
}

.left h2{
    font-size:clamp(2.5rem,7vw,4rem);
}
   
}